-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "aplicacao" (
    "id_app" SERIAL NOT NULL,
    "component_tag" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "id_time" INTEGER,

    CONSTRAINT "aplicacao_pkey" PRIMARY KEY ("id_app")
);

-- CreateTable
CREATE TABLE "aplicacao_user_app" (
    "id_app" INTEGER NOT NULL,
    "id_user_app" INTEGER NOT NULL,

    CONSTRAINT "aplicacao_user_app_pkey" PRIMARY KEY ("id_app","id_user_app")
);

-- CreateTable
CREATE TABLE "funcionario" (
    "matricula" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "senha" TEXT NOT NULL,
    "email" TEXT,

    CONSTRAINT "funcionario_pkey" PRIMARY KEY ("matricula")
);

-- CreateTable
CREATE TABLE "funcionario_grupo" (
    "matricula_funcionario" TEXT NOT NULL,
    "id_grupo" INTEGER NOT NULL,

    CONSTRAINT "funcionario_grupo_pkey" PRIMARY KEY ("matricula_funcionario","id_grupo")
);

-- CreateTable
CREATE TABLE "grupo" (
    "id_grupo" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,

    CONSTRAINT "grupo_pkey" PRIMARY KEY ("id_grupo")
);

-- CreateTable
CREATE TABLE "time" (
    "id_time" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "id_grupo" INTEGER,
    "pdl" TEXT,

    CONSTRAINT "time_pkey" PRIMARY KEY ("id_time")
);

-- CreateTable
CREATE TABLE "user_app" (
    "id_user_app" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "senha" TEXT NOT NULL,
    "matricula_funcionario" TEXT,

    CONSTRAINT "user_app_pkey" PRIMARY KEY ("id_user_app")
);

-- CreateIndex
CREATE UNIQUE INDEX "aplicacao_component_tag_key" ON "aplicacao"("component_tag");

-- CreateIndex
CREATE UNIQUE INDEX "funcionario_username_key" ON "funcionario"("username");

-- AddForeignKey
ALTER TABLE "aplicacao" ADD CONSTRAINT "aplicacao_id_time_fkey" FOREIGN KEY ("id_time") REFERENCES "time"("id_time") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "aplicacao_user_app" ADD CONSTRAINT "aplicacao_user_app_id_app_fkey" FOREIGN KEY ("id_app") REFERENCES "aplicacao"("id_app") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "aplicacao_user_app" ADD CONSTRAINT "aplicacao_user_app_id_user_app_fkey" FOREIGN KEY ("id_user_app") REFERENCES "user_app"("id_user_app") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "funcionario_grupo" ADD CONSTRAINT "funcionario_grupo_id_grupo_fkey" FOREIGN KEY ("id_grupo") REFERENCES "grupo"("id_grupo") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "funcionario_grupo" ADD CONSTRAINT "funcionario_grupo_matricula_funcionario_fkey" FOREIGN KEY ("matricula_funcionario") REFERENCES "funcionario"("matricula") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "time" ADD CONSTRAINT "time_id_grupo_fkey" FOREIGN KEY ("id_grupo") REFERENCES "grupo"("id_grupo") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_app" ADD CONSTRAINT "user_app_matricula_funcionario_fkey" FOREIGN KEY ("matricula_funcionario") REFERENCES "funcionario"("matricula") ON DELETE SET NULL ON UPDATE CASCADE;

